
.LogDiv {
    position: relative;
    display: inline-block;
  }
  
  .LogDiv button {
    background-color: #8d605d;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    left: -15px;
    z-index: 1;
    border-radius: 5px;
  }

  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  } */
  
  .LogDiv:hover .dropdown-content {
    display: block;
  }